* {
  box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: 'Open Sans', sans-serif;
    background-color: #e5e5e5;
}
#stage {
    --r: 480 / 750;
    --w: 480;
    --h: 750;
    aspect-ratio: var(--r);
    width:min(100%, min(480px, 100vh*(var(--r))));
}
#active {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#pages {
    width: 100%;
    height: 400%;
    position: relative;
    top: 0;
    overflow: hidden; 
}
.step {
    width: 100%;
    height: 25%;
}
.bx01 {
    position:relative;
    top: calc(20/var(--h)*100%);
    left: calc(14/var(--w)*100%);
    width: calc(452/var(--w)*100%);
    height: calc(69/var(--h)*100%);   
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 3% 3% 0 0 / 19% 19% 0 0; 
    font-size: min(3.6cqh, 27px);
    font-weight: 700; 
    color: #606060;
    background-color: #eeeeee;
    border-width: 1px; 
    border-style: solid solid none solid;
    border-color: #fafafa;
    box-shadow: 0 1px 3.5px -1px #6a6a6a;
}
.bx02 {
    position:relative;
    width: calc(451/var(--w)*100%);
    height: calc(531/var(--h)*100%);  
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 0 0 1.139% 1.139% / 0 0 1.342% 1.342%; 
    background-color: #ffffff;
    margin: 4.25% 0 0 2.917%;
    border:2px solid #d9d9d9;
}
.fld {
    width: 91%;
    height: 95.5%;
    display: flex; 
    justify-content: start;
    align-items: start;
    font-size: min(4.9cqh, 37px);
    line-height: min(6cqh, 44px);
    font-weight: 700; 
    color: #2c2f2a; 
    word-break: break-all;    
}
#c01:hover {
    cursor: pointer; 
}
.bx03 { 
    width: calc(452/var(--w)*100%);
    height: calc(88/var(--h)*100%);  
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 10.6% / 50%; 
    background-color: #eeeeee;
    margin: 4% 3% 0 3%;
    border:1px solid #fafafa;
    box-shadow: 0 1px 3.5px -1px #6a6a6a;
}
#pst {
    width: calc(39/450*100%);
    height: calc(39/86*100%);      
    display: flex; 
    /*background-color: rgba(0, 0, 0, 0.1);*/ 
}
.i01 {
    width: 100%;
    height: 100%;  
    background-image: url("i01.svg");
    background-size: contain;
    background-repeat: no-repeat;
    filter: opacity(80%);
}
#noti {
    position: relative;
    width: calc(451/var(--w)*100%);
    height: calc(69/var(--h)*100%);       
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-size: min(3.6cqh, 27px);
    font-weight: 700; 
    margin: -36.8% 0 0 3%;
    border-radius: 1.3% / 8.7%; 
}
.n1 {
    color: #a2002d; 
    border:2px solid #ec6f90;
    background-color: #ff8ba9;
}
.n2 {
    color: #a26300; 
    border:2px solid #fac061;
    background-color: #ffd48b;
}


/*

*/