body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: 'Open Sans', sans-serif;
}
#stage {
    --r: 480 / 750;
    aspect-ratio: var(--r);
    width:min(100%, min(480px, 100vh*(var(--r))));
}
#active {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#pages {
    width: 100%;
    height: 200%;
    position: relative;
    top: 0;
    overflow: hidden; 
}
#step1 {
    width: 100%;
    height: 50%;
}
#step2 {
    width: 100%;
    height: 50%;
}
.header {
    width: 94%;
    height: 15%;   
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 0 0 3% 3% / 0 0 12% 12%; 
}
.logo {
    width: 20.6%;
    height: 50.4%;
    margin-bottom: 0.5%;
    mask: url("https://solamiplay.github.io/eur/img/netzgeld.svg");
    mask-size: 99%;
    mask-repeat: no-repeat;  
}
.data {
    width: 94%;
    height: 11.2%;   
    display: flex;
    justify-content: center;
    align-items: center;  
    border-width: min(0.4vh, 3px);
    border-style: solid;
    box-sizing: border-box;
    border-radius: 2% 2% 2% 2% / 10.6% 10.6% 10.6% 10.6%; 
    margin: 4.8% 3% 0 3%;
}
.amount {
    position:relative;
    top:-1%;
    font-size: min(7.5vh, 46px);
    font-weight: 700;
}
.currency {
    font-weight: 800;
    font-size: min(5.2vh, 32px);
}
.in-bg {
    width: 92%;
    height: 48.5%; 
    margin: 6.2% 4% 0 4%; 
}
.btn1 {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: calc(100% / 3 - min(0.4vh, 3px) / 3 * 2);
    height: calc(100% / 4 - min(0.4vh, 3px) / 4 * 3);
    margin-bottom: min(0.4vh, 3px);
    margin-right: min(0.4vh, 3px); 
    border-radius: 0 0 9% 0 / 0 0 14.6% 0; 
}
.btn2 {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: calc(100% / 3 - min(0.4vh, 3px) / 3 * 2);
    height: calc(100% / 4 - min(0.4vh, 3px) / 4 * 3);
    margin-bottom: min(0.4vh, 3px);
    margin-right: min(0.4vh, 3px);
    border-radius: 0 0 9% 9% / 0 0 14.6% 14.6%; 
}
.btn3 {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: calc(100% / 3 - min(0.4vh, 3px) / 3 * 2);
    height: calc(100% / 4 - min(0.4vh, 3px) / 4 * 3);
    margin-bottom: min(0.4vh, 3px);
    border-radius: 0 0 0 9% / 0 0 0 14.6%; 
}
.btn4 {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: calc(100% / 3 - min(0.4vh, 3px) / 3 * 2);
    height: calc(100% / 4 - min(0.4vh, 3px) / 4 * 3);
    margin-bottom: min(0.4vh, 3px);
    margin-right: min(0.4vh, 3px);
    border-radius: 0 9% 9% 0 / 0 14.6% 14.6% 0; 
}
.btn5 {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: calc(100% / 3 - min(0.4vh, 3px) / 3 * 2);
    height: calc(100% / 4 - min(0.4vh, 3px) / 4 * 3);
    margin-bottom: min(0.4vh, 3px);
    margin-right: min(0.4vh, 3px);
    border-radius: 9% 9% 9% 9% / 14.6% 14.6% 14.6% 14.6%; 
}
.btn6 {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: calc(100% / 3 - min(0.4vh, 3px) / 3 * 2);
    height: calc(100% / 4 - min(0.4vh, 3px) / 4 * 3);
    margin-bottom: min(0.4vh, 3px);
    border-radius: 9% 0 0 9% / 14.6% 0 0 14.6%; 
}
.btn7 {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: calc(100% / 3 - min(0.4vh, 3px) / 3 * 2);
    height: calc(100% / 4 - min(0.4vh, 3px) / 4 * 3);
    margin-right: min(0.4vh, 3px);
    border-radius: 0 9% 0 0 / 0 14.6% 0 0;    
}
.btn8 {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: calc(100% / 3 - min(0.4vh, 3px) / 3 * 2);
    height: calc(100% / 4 - min(0.4vh, 3px) / 4 * 3);
    margin-right: min(0.4vh, 3px); 
    border-radius: 9% 9% 0 0 / 14.6% 14.6% 0 0; 
}
.btn9 {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: calc(100% / 3 - min(0.4vh, 3px) / 3 * 2);
    height: calc(100% / 4 - min(0.4vh, 3px) / 4 * 3); 
    border-radius: 9% 0 0 0 / 14.6% 0 0 0; 
}
.pad1 {
    position:relative;
    top:-3%;
    font-size: min(6.6vh, 40px);
    font-weight: 700;     
}
.pad2 {
    font-size: min(6.6vh, 40px);
    font-weight: 700;     
}
.pad3 {
    position:relative;
    top: 3%;
    font-size: min(6.6vh, 40px);
    font-weight: 700;     
}
.bspace {
    width: 26.1%;
    height: 31.4%;
    margin-top: 6%;
    mask: url("https://solamiplay.github.io/eur/img/backspace.svg");
    mask-size: 99%;
    mask-repeat: no-repeat;  
}
.footer {
    width: 94%;
    height: 12%;   
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 10.6% / 50%; 
}
.f1 {
    margin: 5.4% 3% 0 3%;
}
.f2 {
    margin: 7.5% 3% 0 3%;
}
.qr-btn {
    width: 8.87%;
    height: 44.44%;
    mask: url("https://solamiplay.github.io/eur/img/qrcode.svg");
    mask-size: 99%;
    mask-repeat: no-repeat; 
}
#scan {
    width: 94%;
    height: 60.3%;   
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: white;
    border-radius: 1.55%; 
    margin: 8% 3% 0 3%;    
}
#code {
    width: 87.6%;
    height: 87.6%;   
    display: flex;
    justify-content: center;
    align-items: center;     
}
canvas {
    width: 100%;
    height: 100%;   
}
.btn10 {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 15.5%;
    height: 77.77%;  
}
.b1 {
    margin-left: 8%;
}
.cfirm {
    width: 57.1%;
    height: 57.1%;
    mask: url("https://solamiplay.github.io/eur/img/confirmation.svg");
    mask-size: 99%;
    mask-repeat: no-repeat; 
}
.dload {
    width: 57.1%;
    height: 57.1%;
    mask: url("https://solamiplay.github.io/eur/img/download.svg");
    mask-size: 99%;
    mask-repeat: no-repeat; 
}
.help {
    width: 57.1%;
    height: 57.1%;
    mask: url("https://solamiplay.github.io/eur/img/help.svg");
    mask-size: 99%;
    mask-repeat: no-repeat; 
}
.exit {
    width: 57.1%;
    height: 57.1%;
    mask: url("https://solamiplay.github.io/eur/img/exit.svg");
    mask-size: 99%;
    mask-repeat: no-repeat;  
}

.m1-1 {background-color: #f8edd7;}
.m1-2 {background-color: #eaeaea;}
.m1-3 {background-color: #161616;}
.m2-1 {background-color: white;margin: 1px 3% 0 3%;}
.m2-2 {box-sizing: border-box;background-color: #eeeeee;border:1px solid #f3f3f3;box-shadow: 0 1px 3.5px -1px #afafaf;margin: 1px 3% 0 3%;}
.m2-3 {background-color: #161616;margin: 1px 3% 0 3%;}
.m3-1 {background-color: #f94958;}
.m3-2 {background-color: #3c3c3c;}
.m3-3 {background-color: #ec5f9e;}
.m4-1 {border-color: #eedfc3; background-color: #fefdfc;}
.m4-2 {border-color: #e1e1e1; background-color: white;}
.m4-3 {border-color: #2a2a2a; background-color: #1a1a1a;}
.m5-1 {color: #0a1f44;}
.m5-2 {color: #262626;}
.m5-3 {color: white;}
.m6-1 {color: #858fa2;}
.m6-2 {color: #a6a6a6;}
.m6-3 {color: #787878;}
.m7-1 {background-color: #f2e3c7;}
.m7-2 {background-color: #e1e1e1;}
.m7-3 {background-color: #222222;}
.m8-1 {background-color: #f8edd7;}
.m8-2 {background-color: #eaeaea;}
.m8-3 {background-color: #161616;}
.m9-1 {color: #b6a78e;}
.m9-2 {color: #464646;}
.m9-3 {color: #8c8c8c;}
.m31-1 {background-color: #b6a78e;}
.m31-2 {background-color: #464646;}
.m31-3 {background-color: #8c8c8c;}
.m32-1 {background-color: #f2e3c7;}
.m32-2 {box-sizing: border-box;background-color: #eeeeee;border:1px solid #f3f3f3;box-shadow: 0 1px 3.5px -1px #afafaf;}
.m32-3 {background-color: #50dfaa;}
.m33-1 {background-color: #c8a973;}
.m33-2 {background-color: #303030;}
.m33-3 {background-color: #092c1f;}
.m34-1 {background-color: white;margin: 0 3% 0 3%;}
.m34-2 {box-sizing: border-box;background-color: #eeeeee;border:1px solid #f3f3f3;box-shadow: 0 1px 3.5px -1px #afafaf;margin: 0 3% 0 3%;}
.m34-3 {background-color: #161616;margin: 0 3% 0 3%;}

#i3:hover {cursor: pointer;}
#i8:hover {cursor: pointer;}
#i9:hover {cursor: pointer;}
#i10:hover {cursor: pointer;}
#i11:hover {cursor: pointer;}
#i12:hover {cursor: pointer;}
#i13:hover {cursor: pointer;}
#i14:hover {cursor: pointer;}
#i15:hover {cursor: pointer;}
#i16:hover {cursor: pointer;}
#i17:hover {cursor: pointer;}
#i18:hover {cursor: pointer;}
#i19:hover {cursor: pointer;}
#i32:hover {cursor: pointer;}
#i35:hover {cursor: pointer;}
#g1:hover {cursor: pointer;}
#g2:hover {cursor: pointer;}
#g3:hover {cursor: pointer;}
#g4:hover {cursor: pointer;}

/*
*/